body {
    background: url("../images/background.png");
}

#add {
    color: white;
    font-weight: bold;
}
button, #add-emotion {
    background-color: transparent;
    color: greenyellow;
    border-color: greenyellow;
    margin: 5px;
}
p {
    color: white;
    font-weight: bold;
}
.group {
    width: 50%;
    float: left;
}